<% provide(:title, 'Contact Me') %>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>Contact Me</h1>
    <p>
      If you would like to contact me please email me at lornamarlow@hotmail.co.uk
    </p>
  </div>
</div>